@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after { content: ''; content: none; }

q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

h1 { font-size: 28px; }

h2 { font-size: 24px; }

h3 { font-size: 22px; }

h4 { font-size: 18px; }

h5 { font-size: 16px; }

h6 { font-size: 14px; }

.tm-titlesection { font-size: 18px; color: #E66422; display: block; font-weight: 700; margin-bottom: 40px; }

.tm-titleproduct { color: #464646; margin-bottom: 0px; }

.tm-titlepricedctoprice { color: #E66422; margin-bottom: 0px; font-size: 22px; }

.tm-titlepricedcto { color: #969696; margin-bottom: 0px; font-size: 22px; }

.tm-titlecomparelight { color: #975454; font-size: 12px; font-weight: 400; margin-bottom: 0px; }

.tm-titlecomparebold { color: #975454; font-size: 12px; font-weight: 700; margin-bottom: 0px; }

.tm-btn { background-color: #969696; padding: 10px; color: white; font-size: 18px; font-weight: 600; font-family: "Open Sans"; margin: 10px 0; display: -webkit-box; display: flex; align-content: center; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; border-radius: 1000px; border: none; width: 100%; box-shadow: none; }

.tm-btn img { margin-left: 20px; }

.tm-btn-principal { background-color: #E66422; }

.tm-btn-principal:hover { background-color: rgba(230, 100, 34, 0.95); }

.tm-btn-outlinesecond { color: #E66422; border: 1px solid #E66422; background-color: #FFF; text-transform: uppercase; }

.tm-btnlink { color: #969696; padding: 12px; font-size: 16px; font-weight: 600; font-family: "Open Sans"; margin: 10px 0; }

.tm-grid-artimage { background-color: lightgray; height: 205px; position: relative; width: 100%; }

.tm-grid-artimage .tm-grid-artibadge { position: absolute; top: 0; right: 0; width: 35px; height: 35px; background-color: #E66422; font-size: 11px; font-weight: 700; display: -webkit-box; display: flex; align-content: center; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; color: white; }

body { font-family: "Open Sans"; font-weight: 400; margin: 0 auto; padding: 0; font-size: 16px; }
