@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after { content: ''; content: none; }

q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

h1 { font-size: 28px; }

h2 { font-size: 24px; }

h3 { font-size: 22px; }

h4 { font-size: 18px; }

h5 { font-size: 16px; }

h6 { font-size: 14px; }

p { font-size: 16px; margin: 0; padding: 0; }

.tm-titlesection { font-size: 18px; color: #E66422; display: block; font-weight: 700; margin-bottom: 40px; }

.tm-titleproduct { color: #464646; margin-bottom: 0px; }

.tm-titlepricedctoprice { color: #E66422; margin-bottom: 0px; font-size: 22px; }

.tm-titlepricedcto { color: #969696; margin-bottom: 0px; font-size: 22px; }

.tm-titlecomparelight { color: #975454; font-size: 12px; font-weight: 400; margin-bottom: 0px; }

.tm-titlecomparebold { color: #975454; font-size: 12px; font-weight: 700; margin-bottom: 0px; }

.tm-titlenews { color: white; font-size: 22px; font-weight: 300; text-transform: uppercase; text-align: center; width: 100%; }

.tm-titlenews p { font-size: 12px; text-transform: initial; margin: 10px 0; color: #6F6F6F; }

.tm-titlefooter { font-size: 12; text-transform: uppercase; color: white; margin-bottom: 40px; }

.tm-btn { background-color: #969696; padding: 10px; color: white; font-size: 15px; font-weight: 600; font-family: "Open Sans"; margin: 10px 0; display: -webkit-box; display: flex; align-content: center; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; border-radius: 1000px; border: none; width: 100%; box-shadow: none; }

.tm-btn img { margin-left: 20px; }

.tm-btn-principal { background-color: #E66422; }

.tm-btn-principal:hover { background-color: rgba(230, 100, 34, 0.95); }

.tm-btn-outlinesecond { color: white; font-size: 14px; border: 1px solid white; background-color: transparent; text-transform: uppercase; border-radius: 0px; }

.tm-btnlink { color: #969696; padding: 12px; font-size: 16px; font-weight: 600; font-family: "Open Sans"; margin: 10px 0; }

.tm-btnlinkfooter { color: #999; margin: 10px 0; display: block; font-size: 10px; font-weight: 400; font-family: "Open Sans"; text-decoration: none; }

.tm-header .tm-bgdar { background-image: url(../images/navbg.png); background-repeat: repeat-x; background-position: center bottom; height: 165px; }

.tm-header .navbar { margin-top: 45px; }

.tm-header .navbar .navbar-brand { margin-right: 120px; }

.tm-header .navbar .navbar-nav li a { font-size: 12px; font-weight: 700; text-transform: uppercase; margin-right: 50px; }

.tm-header .navbar .navbar-nav li:last-child a { margin-right: 0px; }

.tm-header .navbar .tm-icons a { font-size: 28px; position: relative; }

.tm-header .navbar .tm-icons a i { color: white; font-size: 28px; }

.tm-header .navbar .tm-icons a .tm-notf { background-color: #E66422; color: white; padding: 5px; font-size: 9px; display: -webkit-box; display: flex; align-content: center; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; position: absolute; top: 0; left: 0; border-radius: 5px; }

.tm-header .navbar-dark .navbar-nav .active > .nav-link, .tm-header .navbar-dark .navbar-nav .nav-link.active, .tm-header .navbar-dark .navbar-nav .nav-link.show, .tm-header .navbar-dark .navbar-nav .show > .nav-link { font-size: 16px; }

.tm-topheader { background-color: rgba(0, 0, 0, 0.9); padding: 12px; position: fixed; z-index: 88888; width: 100%; top: 0; border-bottom: 2px solid rgba(255, 255, 255, 0.5); }

.tm-topheader .tm-icons-top, .tm-topheader .tm-menu-top { display: -webkit-box; display: flex; align-content: center; -webkit-box-align: center; align-items: center; }

.tm-topheader .tm-icons-top li, .tm-topheader .tm-menu-top li { margin-right: 20px; }

.tm-topheader .tm-icons-top li a, .tm-topheader .tm-menu-top li a { color: white; text-decoration: none; font-size: 18px; }

.tm-topheader .tm-menu-top { -webkit-box-pack: end; justify-content: end; }

.tm-topheader .tm-menu-top li a { font-size: 14px; }

.tm-topheader .tm-menu-top li .dropdown-menu a { color: black; }

.tm-navcategories { margin-bottom: 60px; }

.tm-navcategories .card { border: none; margin: 5px 0; }

.tm-navcategories .card h2 { display: -webkit-box; display: flex; -webkit-box-align: center; align-items: center; align-content: center; cursor: pointer; font-size: 18px; font-weight: 400; color: #E66422; -webkit-box-pack: justify; justify-content: space-between; }

.tm-navcategories .card .card-header { background-color: transparent; padding: 10px 0px; border-bottom: 1px solid lightgray; margin: 5px 0; }

.tm-navcategories .card .card-header .btn-link { padding: 0; }

.tm-navcategories .card .card-body ul { margin: 0; padding: 0; }

.tm-navcategories .card .card-body ul li { margin: 10px 0; padding: 10px 0; }

.tm-navcategories .card .card-body ul li a { color: #E66422; }

.tm-header-int .tm-bgdar, .tm-header-int .tm-topheader { background-image: none; background-color: black; }

.tm-header .carousel-caption { bottom: 20%; text-align: left; left: 12%; }

.tm-header .carousel-caption h5 { font-size: 65px; color: #2D3A4B; font-weight: 700; margin-bottom: 20px; }

.tm-header .carousel-caption p { font-size: 22px; color: #2D3A4B; font-weight: 400; margin: 20px 0; }

.tm-header .carousel-caption button { text-transform: uppercase; font-weight: 300; padding: 20px; }

.tm-header .carousel-control-prev-icon, .tm-header .carousel-control-next-icon { background-color: rgba(0, 0, 0, 0.2); padding: 30px; background-size: 30px; border-radius: 1000px; }

.tm-grid-shop { margin: 80px 0; }

.tm-grid-shop .tm-grid-conten { margin: 10px 0; }

.tm-grid-shop .tm-grid-artimage { background-color: lightgray; min-height: 160px; position: relative; width: 100%; }

.tm-grid-shop .tm-grid-artimage .tm-grid-artibadge { position: absolute; top: 0; right: 0; width: 35px; height: 35px; background-color: #E66422; font-size: 11px; font-weight: 700; display: -webkit-box; display: flex; align-content: center; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; color: white; }

.tm-grid-shopint { margin-top: 300px; }

.tm-grid-shopint .tm-grid-shoplistitem { margin: 20px 0; }

.tm-grid-shopint .tm-cantshop { background-color: #E66422; padding: 10px; color: white; font-size: 15px; font-weight: 600; font-family: "Open Sans"; margin: 10px 0; display: -webkit-box; display: flex; align-content: center; -webkit-box-align: center; align-items: center; -webkit-box-pack: justify; justify-content: space-between; border-radius: 1000px; border: none; width: 100%; box-shadow: none; }

.tm-grid-shopint .tm-cantshop a { color: white; }

.tm-grid-shopint .tm-topsectionitem { border-left: 1px solid lightgray; height: 100%; width: 100%; }

.tm-grid-shopint .tm-topsectionitem img { width: 80px; height: 60px; }

.tm-grid-shopint .tm-topsectionitem h6 { color: #979797; }

.tm-grid-shopint .tm-topsectionitem .tm-dcto { background-color: #979797; border: none; color: white; }

.tm-grid-shopint .tm-topsectionitem-active { border: 1px solid #E66422; padding-bottom: 0px; height: 100%; position: relative; }

.tm-grid-shopint .tm-topsectionitem-active .tm-dcto { background-color: #E66422; border: none; color: white; }

.tm-grid-shopint .tm-topsectionitem-active h6 { position: absolute; width: 100%; bottom: 0; color: white; }

.tm-grid-shopint .tm-topsectionitem-active h6 p { font-weight: 300; }

.tm-newsletter { background-color: #17171E; padding: 100px 0; }

.tm-compare { padding: 100px 0; background-color: #f7f7f7; }

.tm-compare .tm-comparetilt { text-align: center; }

.tm-compare .tm-comparetilt p { margin: 20px 0; color: #6f6f6f; font-size: 12px; }

.tm-compare .tm-itemcomp { margin: 20px 0; }

.tm-compare .tm-itemcomp img { width: 100%; }

.tm-compare .tm-itemcomp a { display: block; color: #E66422; font-size: 19px; margin-top: 20px; text-transform: uppercase; font-weight: 600; }

.tm-compare .tm-itemcomp a p { font-size: 12px; margin: 10px 0; font-weight: 300; }

footer { background-color: #161D26; padding: 100px 0; }

footer ul { margin: 0; padding: 0; }

body { font-family: "Open Sans"; font-weight: 400; margin: 0 auto; padding: 0; font-size: 16px; overflow-x: hidden; }

.tm-topsection { position: fixed; z-index: 99999; background-color: black; top: 0; width: 100%; padding: 10px 30px 0px 30px; text-align: center; }

.tm-topsection .tm-close { position: absolute; }

.tm-topsectionitem { position: relative; text-align: center; }

.tm-topsectionitem img { width: 60px; height: 60px; }

.tm-topsectionitem .tm-dcto { background-color: transparent; position: absolute; display: -webkit-box; display: flex; align-content: center; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; top: 0; right: 0; width: 30px; height: 30px; border: 1px solid white; color: white; font-size: 12px; }

.tm-topsectionitem p { font-size: 10px; color: white; font-weight: 700; margin: 6px 0; }

.tm-topsectionitem h6 { color: white; font-weight: 600; font-size: 18px; margin: 6px 0; }

.tm-topsectionitem-active { border: 1px solid #E66422; padding-bottom: 0px; }

.tm-topsectionitem-active .tm-dcto { background-color: #E66422; border: none; color: white; }

.tm-topsectionitem-active h6 { background-color: #E66422; padding: 10px 0px; margin: 0; }

.tm-topsectionitem-active .tm-listview { position: relative; }

.tm-topsectionitem-active .tm-listview h4 { font-weight: 700; font-size: 18px; color: white; margin: 0; padding: 0; text-align: left; }

.tm-topsectionitem-active .tm-listview a { font-weight: 700; font-size: 12px; color: white; text-align: right; }

.tm-topsectionitem-active .tm-listview .tm-listviewprice { background-color: #E66422; padding: 10px 5px; }

.tm-topsectionitem-active .tm-listview .tm-listviewprice h2 { color: white; font-weight: 700; font-size: 25px; }

.tm-topsectionitem-active .tm-listview .tm-listviewprod { margin: 20px 0; }

.tm-topsectionitem-active .tm-listview .tm-listviewprod h4 { font-weight: 400; font-size: 18px; color: #959595; text-align: left; }

.tm-topsectionitem-active .tm-listview .tm-listviewprod h2 { color: #959595; font-weight: 400; font-size: 22px; text-align: right; }
